html, body {
	font-family: 'Open Sans';
	font-size: 100%;
}

.astro-body {
	width: 25rem;
	background-color: #343434;
	color: #ffffff;
	margin: 0;
}

.astro-bar {
	display: flex;
	align-items: baseline;
}

.astro-tab {
	text-align: center;
	flex-grow: 1;
	border-bottom: 0.2rem solid #343434;
	padding: -0.2rem;
}

.astro-tab[class~=active] {
	color: dodgerblue;
	border-color: dodgerblue;
	background-color: #ffffff11;
}

.astro-tab[class~=enabled] {
	color: #e3e3e3;
	border-color: #e3e3e3;
}

.astro-tab[class~=disabled] {
	display: none;
}

.astro-tab a {
	color: inherit;
	text-decoration: inherit;
}

.astro-tab h1 {
	line-height: 1.2rem;
	font-size: 1.2rem;
	padding: 0.2rem 0;
	font-weight: 300;
	text-transform: uppercase;
	font-stretch: extra-expanded;
}

/* ------------ */
.astro-box {
	display: none;
	padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.astro-box[class~=active] {
	display: block;
	background-color: #ffffff11;
}

/* ------------- */
.astro label {
	font-weight: 300;
	color: #e3e3e3;
}

.astro input {
	margin-bottom: 1rem;
	transition-duration: 0.25s;
}

.astro input[type=text],
.astro input[type=email],
.astro input[type=password] {
	background-color: #ffffff11;
	border: none;
	border-bottom: 0.15rem solid dodgerblue;
	font-size: 1.2rem;
	font-family: 'Hack';
	color: #ffffff;
	padding: 0.4rem 0.5rem;
	width: calc(100% - 1rem);
}

.astro input[type=text]:hover,
.astro input[type=email]:hover,
.astro input[type=password]:hover,
.astro input[type=text]:focus,
.astro input[type=email]:focus,
.astro input[type=password]:focus {
	background-color: #ffffff22;
}

.astro input[class~=valid] {
	color: #000000;
	border-color: springgreen;
}

.astro input[class~=invalid] {
	border-color: tomato;
}

.astro input[type=submit] {
	background-color: dodgerblue;
	color: #ffffff;
	cursor: pointer;
	padding: 0.4rem 0;
	font-size: 1.1rem;
	font-weight: 300;
	border: none;
	width: 100%;
	margin: 0;
}

.astro input[type=submit][class~=valid] {
	color: #000000;
	background-color: springgreen;
}

.astro input[type=submit][class~=invalid] {
	background-color: tomato;
	cursor: not-allowed;
}
