html, body {
	font-family: 'Open Sans';
	font-size: 100%;
}

.astro-body {
	width: 25rem;
	background-color: #343434;
	color: #ffffff;
	margin: 0;
}

.astro-bar {
	display: flex;
	align-items: baseline;
}

.astro-tab {
	text-align: center;
	flex-grow: 1;
	border-bottom: 0.2rem solid #343434;
	padding: -0.2rem;
}

.astro-tab[class~=active] {
	color: dodgerblue;
	border-color: dodgerblue;
	background-color: #ffffff11;
}

.astro-tab[class~=enabled] {
	color: #e3e3e3;
	border-color: #e3e3e3;
}

.astro-tab[class~=disabled] {
	display: none;
}

.astro-tab a {
	color: inherit;
	text-decoration: inherit;
}

.astro-tab h1 {
	line-height: 1.2rem;
	font-size: 1.2rem;
	padding: 0.2rem 0;
	font-weight: 300;
	text-transform: uppercase;
	font-stretch: extra-expanded;
}

/* ------------ */
.astro-box {
	display: none;
	padding: 1rem 0.5rem;
}

.astro-box[class~=active] {
	display: block;
	background-color: #ffffff11;
}
